<div *ngIf="character" class="container">
  <div class="card mt-3">
    <div class="row align-items-center no-gutters">
      <div class="col-md-4">
        <img
          [src]="character.image"
          class="card-img"
          alt="{{ character.name }}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <p class="card-text">
            <strong>Gender:</strong> {{ character.gender }}
          </p>
          <p class="card-text"><strong>Species:</strong> {{ character.species }}</p>
          <p class="card-text">
            <strong>Status:</strong> {{ character.status }}
          </p>
          <p class="card-text">
            <strong>Location:</strong> {{ character.location.name }}
          </p>
          <p class="card-text">
            <strong>Origin:</strong> {{ character.origin.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
